#define IDD_DLG1 100
#define IDC_BTN1 106
#define IDC_GRP1 101
#define IDC_RBN1 102
#define IDC_RBN2 103
#define IDC_RBN3 104
#define IDC_RBN4 105
#define IDC_STC1 107
#define IDC_IMG1 108

10 ICON DISCARDABLE "icon.ico"

IDD_DLG1 DIALOGEX 10,10,196,100
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "Bye",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,108,68,74,14
  CONTROL " Radio Buttons ",IDC_GRP1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,10,24,88,66
  CONTROL "Radio 1 Button",IDC_RBN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,18,36,72,10
  CONTROL "Radio 2 Button",IDC_RBN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,18,48,72,10
  CONTROL "Radio 3 Button",IDC_RBN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,18,60,72,10
  CONTROL "Radio 4 Button",IDC_RBN4,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,18,72,72,10
  CONTROL "IDC_STC",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,18,8,166,10
  CONTROL "",IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,128,22,34,30
END

